body{
background-image: linear-gradient(to bottom left, rgb(58, 143, 255),  rgb(102, 168, 255) , rgb(0, 109, 252),  rgb(0, 66, 151));
background-attachment: fixed;
display: flex;
flex-direction: column;
justify-content: center;

align-items: center;
color: antiquewhite;

}

#cores{
    display: flex;
flex-direction: column;
justify-content: center;
gap: 30px;
align-items: center;

background-color: rgb(46, 46, 46);
width: 400px;
height: 250px;
border-radius: 20px;
}